<header>
    <div class="logo">Виниловый Магазин</div>
    <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="catalog.html">Каталог</a></li>
            <li><a href="cart.html">Корзина</a></li>
            <li><a href="care.html">Уход за винилом</a></li>
            <li><a href="albums.html">Добавить пластинку</a></li>
            <li><a href="about.html">О нас</a></li>
            <li class="user-icon">
                <a href="#" id="user-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>